<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CSV Performance Tester</title>
</head>
<body>
<h1>Read Test</h1>
<form action="#" th:action="@{/readTest}" th:object="${readValues}" method="post">
    <p>Iterations: <input type="number" th:field="*{iterations}" min="1" max="10"/>
    </p>
    <p>File: <input type="file" th:field="*{file}"/></p>
    <p>Read Into:
        <select th:field="*{readInto}">
            <option th:each="key:${dataValues.keySet()}" th:value="${key}" th:utext="${dataValues.get(key)}">
            </option>
        </select>
    </p>
    <p>Parser to Use:<br>
        <input type="radio" th:field="*{parserToUse}" value="CSVParser">CSVParser<br>
        <input type="radio" th:field="*{parserToUse}" value="RFC4180Parser">RFC4180Parser<br>
    </p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>