<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Read Results</title>
</head>
<body>
<h1>Results</h1>
<p th:text="'numRecords: ' + ${readValues.iterations}"/>
<p th:text="'file: ' + ${readValues.file}"/>
<p th:text="'Read into: ' + ${readValues.readInto}"/>
<p th:text="'Parser to use: ' + ${readValues.parserToUse}"/>
<br>
<p th:text="'Seconds to run: ' + ${readValues.timeToRun}"/>
<a href="/readTest">Run another performance test</a>
</body>
</html>